---
import FormattedDate from '@/components/FormattedDate.astro';
import MarkdownView from '@/components/MarkdownView.astro';
import Page from '@/layouts/Page.astro';
import { quotes as q } from './_data';

const quotes = q.sort((a, b) => new Date(b.dateAdded).valueOf() - new Date(a.dateAdded).valueOf());
---

<Page title="Quotes">
	<p>A collection of quotes and poems I like.</p>
	<p>
		<strong>{quotes.length}</strong> quotes
	</p>
	<div>
		{
			quotes.map((result, index) => (
				<article>
					<FormattedDate date={new Date(result.dateAdded)} />
					<figure>
						<blockquote>
							<MarkdownView source={result.text} />
						</blockquote>

						<figcaption>
							<MarkdownView source={`— ${result.attribution}`} />
						</figcaption>
					</figure>
					{index < quotes.length - 1 && <hr />}
				</article>
			))
		}
	</div>
</Page>
