---
import Link from '@/components/Link.astro';
import Page from '@/layouts/Page.astro';
---

<Page title="Tools">
	<p>My implementation of simple tools that I find myself looking up every time I need them.</p>
	<ul>
		<li>
			<Link href="/tools/bulk-url-opener">Bulk URL Opener</Link> – Paste a list of URLs to open them
			all in new tabs.
		</li>
		<li>
			<Link href="/tools/qr-code-generator">QR Code Generator</Link> – Quickly generate one or more QR
			codes.
		</li>
		<li>
			<Link href="/tools/slugify">Slugify</Link> – Create <Link
				href="https://en.wikipedia.org/wiki/Clean_URL#Slug">slug</Link
			> from text.
		</li>
		<li>
			<Link href="/tools/word-count">Word Count</Link> – Online version of the linux command <code
				>wc</code
			>.
		</li>
		<li>
			<Link href="/tools/section-comment-generator">Section Comment Generator</Link> – Generates code
			comment to be used to mark sections in code.
		</li>
	</ul>
</Page>
