---
import FormattedDate from '@/components/FormattedDate.astro';
import Link from '@/components/Link.astro';
import Page from '@/layouts/Page.astro';
import { getBlogPosts } from '@/serverUtils';

const posts = await getBlogPosts();
---

<Page title="Blog">
	<ul>
		{
			posts.map((post) => (
				<li>
					<Link href={`/blog/${post.id}`}>{post.data.title}</Link>
					<div>
						<FormattedDate date={new Date(post.data.date)} />
					</div>
				</li>
			))
		}
	</ul>
</Page>
