---
import FormattedDate from '@/components/FormattedDate.astro';
import Page from '@/layouts/Page.astro';
import { orderBy, type OmitStrict } from '@/utils';
import books from './_data.json';

interface RawBook {
	title: string;
	subtitle?: string;
	author: string;
	start?: string;
	end?: string;
}

interface BaseBook {
	title: string;
	subtitle?: string;
	author: string;
}

interface InProgressBook extends BaseBook {
	status: 'reading';
	start: string;
}

interface ReadWithDateBook extends BaseBook {
	status: 'readWithDate';
	start: string;
	end: string;
}

interface ReadWithoutDateBook extends BaseBook {
	status: 'readWithoutDate';
}

type TaggedBook = InProgressBook | ReadWithDateBook | ReadWithoutDateBook;

books satisfies OmitStrict<TaggedBook, 'status'>[];

const inProgressBooks: InProgressBook[] = [];
const readBooksWithDate: ReadWithDateBook[] = [];
const readBooksWithoutDate: ReadWithoutDateBook[] = [];

for (const book of books as RawBook[]) {
	if (book.start && book.end) {
		readBooksWithDate.push({ ...book, status: 'readWithDate', start: book.start, end: book.end });
	} else if (book.start) {
		inProgressBooks.push({ ...book, status: 'reading', start: book.start });
	} else {
		readBooksWithoutDate.push({ ...book, status: 'readWithoutDate' });
	}
}

const finishedCount = readBooksWithDate.length + readBooksWithoutDate.length;

const sortedBooks: TaggedBook[] = [
	...orderBy(inProgressBooks, ['start', 'desc'], ['author'], ['title']),
	...orderBy(readBooksWithDate, ['end', 'desc'], ['author'], ['title']),
	...orderBy(readBooksWithoutDate, ['author'], ['title']),
];

console.log(JSON.stringify(sortedBooks));
---

<Page title={'Bookshelf'} underConstruction>
	<p>
		<strong>{finishedCount}</strong>
		{finishedCount === 1 ? ' book' : ' books'} read
	</p>

	{
		sortedBooks.map((book) => (
			<p>
				{book.subtitle ? `${book.title}: ${book.subtitle}` : book.title}
				<br />
				By {book.author}
				<br />
				{book.status === 'reading' && (
					<>
						Reading from <FormattedDate date={new Date(book.start)} />
					</>
				)}
				{book.status === 'readWithDate' && (
					<>
						Read from <FormattedDate date={new Date(book.start)} /> to{' '}
						<FormattedDate date={new Date(book.end)} />
					</>
				)}
			</p>
		))
	}
</Page>
