---
import computer from '@/assets/images/computer.gif';
import FormattedDate from '@/components/FormattedDate.astro';
import TimeSinceLastPostTimer from '@/components/Home/TimeSinceLastPostTimer.astro';
import Link from '@/components/Link.astro';
import Page from '@/layouts/Page.astro';
import { getBlogPosts } from '@/serverUtils';
import { Image } from 'astro:assets';

const posts = await getBlogPosts();
posts.splice(10);
---

<noscript>
	<style>
		#time-since-last-post-timer-container {
			display: none;
		}
	</style>
</noscript>

<Page layout="home">
	<header>
		<h1 class="leading-relaxed">
			Hi there! 👋
			<br />
			I&apos;m a <Link
				href="http://www.catb.org/~esr/jargon/html/H/hacker.html"
				class="font-extrabold">hacker</Link
			> who loves building things.
		</h1>
	</header>
	<div class="divider"></div>
	<section>
		<h2>Recent Posts ✍️</h2>
		<ul>
			{
				posts.map((post) => (
					<li>
						<Link href={`/blog/${post.id}`}>{post.data.title}</Link>
						<div>
							<FormattedDate date={new Date(post.data.date)} />
						</div>
					</li>
				))
			}
		</ul>
		<div
			id="time-since-last-post-timer-container"
			class="not-prose card card-border bg-base-100 w-full shadow-sm flex flex-col items-center mt-8"
		>
			<div class="card-body">
				<h3 class="card-title">Time Since Last Post</h3>
			</div>
			<TimeSinceLastPostTimer lastPostDate={posts[0].data.date} className={'px-10 pb-10'} />
		</div>
	</section>
	<section>
		<h2>
			Tech I Use&nbsp;
			<Image src={computer} alt="Computer GIF" width={32} class="not-prose inline-block m-0" />
		</h2>
		<ul>
			<li>Programming Languages & Web: TypeScript, Python, Rust, Java, HTML, CSS</li>
			<li>Frontend Frameworks: React, Next.js, Astro</li>
			<li>Styling: Tailwind CSS, Material UI (MUI), daisyUI</li>
			<li>Backend Frameworks & Runtimes: Node.js, Express, Django, axum</li>
			<li>Databases: SQLite, MariaDB, MySQL</li>
			<li>Build Tools, DevOps & Version Control: Git, Docker, Vite, webpack</li>
			<li>Cross-Platform & Mobile: Electron, Capacitor</li>
			<li>
				Operating Systems & Desktop Environments: Arch Linux (with Xfce), Linux Mint (Cinnamon
				Edition), Xubuntu
			</li>
		</ul>
	</section>
</Page>
