---
import logo from '@/assets/images/logo.svg';
import Bars3Icon from '@/components/icons/Bars3Icon.astro';
import Link from '@/components/Link.astro';
import { SITE_TITLE } from '@/consts';
import { Image } from 'astro:assets';
import Menu from './Menu.astro';

interface Props {
	title?: string;
}

const links = [
	{ href: '/blog', text: 'Blog' },
	{ href: '/tools', text: 'Tools' },
	{ href: '/quotes', text: 'Quotes' },
	{ href: '/projects', text: 'Projects' },
	{ href: '/contact', text: 'Contact' },
];
---

<nav class="max-md:collapse bg-base-200 shadow-sm w-full rounded-md">
	<input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
	<label for="navbar-1-toggle" class="fixed inset-0 hidden max-md:peer-checked:block"></label>
	<div class="collapse-title navbar justify-between">
		<div class="navbar-start">
			<Link href="/" class="btn btn-ghost text-lg sm:text-xl">
				<Image src={logo} alt="Site Logo" width={36} />
				{SITE_TITLE}
			</Link>
		</div>
		<div class="navbar-center hidden md:flex">
			<ul class="menu menu-horizontal px-1">
				<Menu links={links} />
			</ul>
		</div>
		<div class="navbar-end md:hidden">
			<label for="navbar-1-toggle" class="btn btn-ghost md:hidden">
				<Bars3Icon />
			</label>
		</div>
	</div>

	<div class="collapse-content md:hidden z-1">
		<ul class="menu">
			<Menu links={links} />
		</ul>
	</div>
</nav>
