---
import { ensureTrailingSlash } from '@/utils';

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
let { href, ...props } = Astro.props;

if (href) {
	href = ensureTrailingSlash(href.toString());
}
const isExternal =
	href?.toString().startsWith('http://') || href?.toString().startsWith('https://');
const externalAttrs = isExternal ? { target: '_blank', rel: 'noopener noreferrer' } : {};
---

<a {...props} href={href} {...externalAttrs}><slot /></a>
