---
import Link from '@/components/Link.astro';
import { SITE_TITLE } from '@/consts';
import { clsx } from '@/utils';

const links = [
	{ href: '/projects', text: 'Projects' },
	{ href: '/tools', text: 'Tools' },
	{ href: '/blog', text: 'Blog' },
	{ href: '/quotes', text: 'Quotes' },
	{ href: '/contact', text: 'Contact' },
];
---

<header class={clsx(['my-4'])}>
	<nav
		class={clsx([
			// default
			'flex',
			'flex-col',
			'mb-4',
			// sm and up
			'sm:flex-row',
			'sm:justify-between',
			'sm:items-center',
		])}
	>
		<Link href="/" class={clsx(['no-underline', 'text-black', 'text-xl', 'font-bold'])}>
			{SITE_TITLE}
		</Link>
		<div class={clsx(['flex', 'space-x-4', 'flex-wrap'])}>
			{
				links.map((link) => (
					<Link href={link.href} class={clsx(['no-underline', 'font-medium'])}>
						{link.text}
					</Link>
				))
			}
		</div>
	</nav>
	<hr />
</header>
