---
import { COPYRIGHT } from '@/consts';
import Badges from './Badges.astro';
import Themes from './Themes.astro';
import Webrings from './Webrings.astro';
---

<footer class="bg-base-200">
	<div class="footer footer-horizontal footer-center max-w-5xl mx-auto text-base-content p-6">
		<Themes />

		<Badges />

		<Webrings />

		<small class="text-sm">
			<p>
				{COPYRIGHT.symbol}{' '}{COPYRIGHT.year}{' '}{COPYRIGHT.holder}
			</p>
			<p>{COPYRIGHT.string}</p>
		</small>
	</div>
</footer>
