---
import noAiWidget0 from '@/assets/images/baccyflap-com-noai-valywidget0.gif';
import noAiWidget1 from '@/assets/images/baccyflap-com-noai-valywidget1.gif';
import noAiWidget2 from '@/assets/images/baccyflap-com-noai-valywidget2.gif';
import noAiWidget3 from '@/assets/images/baccyflap-com-noai-valywidget3.gif';
import Link from '@/components/Link.astro';
import { Image } from 'astro:assets';
---

<nav class="block">
	<Link href="https://baccyflap.com/noai/?prv&s=csh" target="_top"
		><Image
			src={noAiWidget0}
			alt="previous no ai webring site"
			title="previous no ai webring site"
			loading={'lazy'}
			class="inline"
		/></Link
	><Link href="https://baccyflap.com/noai" target="_blank"
		><Image
			src={noAiWidget1}
			alt="no ai webring"
			title="no ai webring"
			loading={'lazy'}
			class="inline"
		/></Link
	><Link href="https://baccyflap.com/noai/?rnd" target="_top"
		><Image
			src={noAiWidget2}
			alt="random no ai webring site"
			title="random no ai webring site"
			loading={'lazy'}
			class="inline"
		/></Link
	><Link href="https://baccyflap.com/noai/?nxt&s=csh" target="_top"
		><Image
			src={noAiWidget3}
			alt="next no ai webring site"
			title="next no ai webring site"
			loading={'lazy'}
			class="inline"
		/></Link
	>
</nav>

<nav class="block space-x-2">
	<Link href="https://xn--sr8hvo.ws/previous">←</Link>
	<span>An <Link href="https://xn--sr8hvo.ws" class="link">IndieWeb Webring</Link> 🕸💍</span>
	<Link href="https://xn--sr8hvo.ws/next">→</Link>
</nav>
