---
import Page from '@/layouts/Page.astro';
import { PlainTextQrCodeGenerator } from './_PlainTextQrCodeGenerator';
---

<Page title="QR Code Generator">
	<p>Enter or paste text in the textbox below to generate QR code(s).</p>
	<PlainTextQrCodeGenerator client:load />
</Page>
