---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title?: string;
	description?: string;
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={props.title} description={props.description} />
	</head>
	<body>
		<div class="flex flex-col min-h-screen m-0 font-sans max-w-2xl px-4 mx-auto leading-relaxed">
			<Header />
			<main class="flex-grow">
				{props.title && <h1 class="mt-0">{props.title}</h1>}
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
